body{
  margin:10px;
background-color:#404258;
color:snow;
font-family: 'Roboto Condensed', sans-serif;
}

.all{
background-image:linear-gradient(308deg, #6b728e 100.0%, #474e68 50.0%);
text-align:center; 
border-radius:15px;
  
}

#social{
display:block;
margin:45px 90px;
pointer-events:pointer;
  transform:0.5s;
}

#profile{
  border-radius:100%;
  display:block;
  margin:0px auto;
  border: 5px solid grey;
  
  
  
}
.my{
text-align:center;
  margin-right:10px;
  margin-top:1000px;

}

#fb:hover{
  
  box-shadow:blue;
  
}

#ig:hover{
  
  box-shadow:#ffbd00;
  
}

#sp:hover{
  
  box-shadow:yellow;
  
}

#gh:hover{
  
  box-shadow:black;
  
}





.logo.is-animetion {
  margin-top: 0.6em;
}

.logo.is-animetion span {
  display: inline-block;
  animation: wave-text 1s ease-in-out infinite;
}

.logo.is-animetion {
  span:nth-of-type(1){ animation-delay: 0.0s; }
  span:nth-of-type(2){ animation-delay: 0.1s; }
  span:nth-of-type(3){ animation-delay: 0.2s; }
  span:nth-of-type(4){ animation-delay: 0.3s; }
  span:nth-of-type(5){ animation-delay: 0.4s; }
  span:nth-of-type(6){ animation-delay: 0.5s; }
  span:nth-of-type(7){ animation-delay: 0.6s; }
  span:nth-of-type(8){ animation-delay: 0.7s; }
  span:nth-of-type(9){ animation-delay: 0.8s; }
  span:nth-of-type(10){ animation-delay: 0.9s; }
  span:nth-of-type(11){ animation-delay: 0.10s; }
  span:nth-of-type(12){ animation-delay: 0.11s; }
  span:nth-of-type(13){ animation-delay: 0.12s; }
  span:nth-of-type(14){ animation-delay: 0.13s; }
  span:nth-of-type(15){ animation-delay: 0.14s; }
  span:nth-of-type(16){ animation-delay: 0.15s; }
}

@keyframes wave-text{
  00%{
    transform: translateY(0em);
  }
  60%{
    transform: translateY(-0.6em);
  }
  100%{
    transform: translateY(0em);
  }
}


